.footer {
  padding: 60px 15px;

  background-color: var(--footer-bg-color);
}

.footer__box {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.logo__text--white {
  color: var(--primary-bg-color);
}

.address-box {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-evenly;
  }

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
    text-align: left;

    width: 50%;
  }
}

.address {
  margin-bottom: 60px;

  font-style: normal;
  line-height: 1.14;

  color: var(--primary-bg-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    padding-right: 94px;
  }
}

.address__list {
  margin-top: 28px;
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.address__text {
  display: inline-block;
  margin: 0;
}

.address__link {
  color: var(--address-text-color);

  transition: color 250ms var(--hover-focus-time);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.socials__title {
  margin-bottom: 20px;

  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
