.footer {
  padding: 60px 10px;

  background-color: var(--footer-bg-color);
}

.logo__text--white {
  color: var(--primary-bg-color);
}

.address {
  margin-top: 28px;
  margin-bottom: 60px;

  font-style: normal;
  line-height: 1.14;

  color: var(--primary-bg-color);
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.address__text {
  display: inline-block;
  margin: 0;
}

.address__link {
  color: var(--address-text-color);

  transition: color 250ms var(--hover-focus-time);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.socials__title {
  margin-bottom: 20px;

  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
