.card {
  padding-bottom: 30px;
}

.card__img {
  margin-bottom: 30px;
}

.card__title {
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.48px;

  color: var(--secondary-text-color);
}

.card__text {
  margin: 0;
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.48px;

  color: var(--primary-text-color);
}
