.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 360px;

  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 1.56px;
  text-transform: uppercase;

  color: var(--primary-bg-color);

  @media screen and (min-width: 1200px) {
    width: 696px;

    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
  }
}

.hero__btn {
  @include btn;

  &:hover {
    color: var(--hero-bg-color);
  }
}
