.hero {
    padding-top: 200px;
    padding-bottom: 200px;
  
    text-align: center;
  }
  
  .hero__title {
    width: 696px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
  
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
  
    color: var(--primary-bg-color);
  }
  
  .hero__btn {
    @include btn;

    width: 216px;
  
    &:hover {
      color: var(--hero-bg-color);
    }
  }
  
  