.features__list {
    display: flex;
  }
  
  .features__item {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
   
  .features__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
  
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
  }
  
  .features__icon {
    margin: 0;
  }
  
  .features__title {
    margin-top: 0;
    margin-bottom: 10px;
  
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    text-transform: uppercase;
  
    color: var(--secondary-text-color);
  }
  
  .features__text {
    margin: 0;
  
    line-height: 1.71;
    text-align: left;
  
    color: var(--primary-text-color);
  }