.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__card {
  width: 450px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }
}

.features__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 450px;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;
  background-color: var(--secondary-bg-color);

  @media screen and (min-width: 768px) {
    width: 354px;
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  margin: 0;

  line-height: 1.71;
  text-align: left;

  color: var(--primary-text-color);
}
