.info {
}

.info__item {
}

.info__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;

  color: var(--primary-text-color);

  transition: color 250ms var(--hover-focus-time);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.info__icon {
  margin-right: 10px;
  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
