.info {
  display: flex;
  flex-direction: column;

  text-align: left;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.info__item {
  @media screen and (max-width: 767px) {
    &:first-child {
      margin-bottom: 64px;
    }

    &:last-child {
      margin-bottom: 32px;
    }
  }
}

.info__link {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;

  color: var(--primary-text-color);

  transition: color 250ms var(--hover-focus-time);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    &.email {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0.48px;
    }

    &.phone {
      font-size: 34px;
      font-weight: 500;
      letter-spacing: 0.68px;

      color: var(--accent-color);
    }
  }
}

.info__icon {
  margin-right: 10px;
  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: 1199px) {
    margin-right: 8px;
  }
}
