.logo {
  width: 145px;
}

.logo__link {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.78px;

  color: var(--accent-color);
}

.logo__text {
  &--black {
    color: var(--logo-black-color);
  }
}
