.menu {
  display: inline-flex;
}

.menu__nav {
  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    background-color: var(--primary-bg-color);
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.menu__btn {
  display: inline-flex;

  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;

  &:hover .menu__icon,
  &:focus .menu__icon {
    fill: var(--accent-color);
  }

  & .menu-close {
    display: none;
  }

  &.is-open .menu-close {
    display: block;
  }

  &.is-open .menu-open {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__icon {
  transition: fill 250ms var(--hover-focus-time);
}
